<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse($!{resource_path})
</head>
<body style="background-color: #fff">
	
    <div class="wrap_form_middle_right">
		<div class="adjust_box">
			<div title="基本信息" style="padding: 10px;background-color:#F5F5F5;" class="cell">
				<table width="100%" style="table-layout: fixed;">
				<tr>
   					<th style="width:15%">名称：</th>
   					<td style="width:35%"><input type="text" id="nickname" name="providerInfo.nickname" class="easyui-textbox" style="width:200px" value="$!{providerInfo.nickname}" readonly/></td>
					<th style="width:15%">业务员：</th>
   					<td style="width:35%"><input type="text" id="saleman" name="providerInfo.saleman" class="easyui-textbox" style="width:200px" value="$!{providerInfo.saleman}" readonly/></td>
   				</tr>
				<tr>
    				<th>联系人：</th>
    				<td><input type="text" id="linkman" name="providerInfo.linkman" class="easyui-textbox" style="width:200px" value="$!{providerInfo.linkman}" readonly/></td>
					<th>电话：</th>
    				<td><input type="text" id="telephone" name="providerInfo.telephone" class="easyui-textbox" style="width:200px" value="$!{providerInfo.telephone}" readonly/></td>
    			</tr>
				<tr>
    				<th>手机：</th>
    				<td ><input type="text" id="mobilephone" name="providerInfo.mobilephone" class="easyui-textbox" style="width:200px" value="$!{providerInfo.mobilephone}" readonly/></td>
					<th>传真：</th>
   					<td ><input type="text" id="fax" name="providerInfo.fax" class="easyui-textbox" style="width:200px" value="$!{providerInfo.fax}" readonly/></td>
   				</tr>
				<tr>
					<th>邮箱：</th>
    				<td ><input type="text" id="mail" name="providerInfo.mail" class="easyui-textbox" style="width:200px" value="$!{providerInfo.mail}" readonly/></td>
					<th>邮编：</th>
    				<td ><input type="text" id="postcode" name="providerInfo.postcode" class="easyui-textbox" style="width:200px" value="$!{providerInfo.postcode}" readonly/></td>
    			</tr>
				<tr>
					<th>区域：</th>
   					<td ><input type="text" id="area" name="providerInfo.area" class="easyui-textbox" style="width:200px" value="$!{providerInfo.area}" readonly/></td>
					<th>月结日期：</th>
   					<td ><input type="text" id="settlementdate" name="providerInfo.settlementdate" class="easyui-textbox" style="width:200px" value="$!{providerInfo.settlementdate}" readonly/></td>
   				</tr>
				<tr>
   					<th>开户行：</th>
   					<td ><input type="text" id="bank" name="providerInfo.bank" class="easyui-textbox" style="width:200px" value="$!{providerInfo.bank}" readonly/></td>
					<th>企业类型：</th>
   					<td ><input type="text" id="enterprisetype" name="providerInfo.enterprisetype" class="easyui-textbox" style="width:200px" value="$!{providerInfo.enterprisetype}" readonly/></td>
   				</tr>
				<tr>
   					<th>帐号：</th>
   					<td ><input type="text" id="account" name="providerInfo.account" class="easyui-textbox" style="width:200px" value="$!{providerInfo.account}" readonly/></td>
					<th>税务登记：</th>
   					<td ><input type="text" id="taxregistration" name="providerInfo.taxregistration" class="easyui-textbox" style="width:200px" value="$!{providerInfo.taxregistration}" readonly/></td>
   				</tr>
				<tr>
   					<th>营业执照：</th>
   					<td ><input type="text" id="license" name="providerInfo.license" class="easyui-textbox" style="width:200px" value="$!{providerInfo.license}" readonly/></td>
					<th>冻结业务：</th>
   					<td ><input type="text" id="frozen" name="providerInfo.frozen" class="easyui-textbox" style="width:200px" value="$!{providerInfo.frozen}" readonly/></td>
   				</tr>
				<tr>
   					<th>送货周期：</th>
   					<td ><input type="text" id="deliverycycle" name="providerInfo.deliverycycle" class="easyui-textbox" style="width:200px" value="$!{providerInfo.deliverycycle}" readonly/></td>
					<th>经营方式：</th>
   					<td ><input type="text" id="practice" name="providerInfo.practice" class="easyui-textbox" style="width:200px" value="$!{providerInfo.practice}" readonly/></td>
   				</tr>
				<tr>
   					<th>结算机构：</th>
   					<td ><input type="text" id="settlement" name="providerInfo.settlement" class="easyui-textbox" style="width:200px" value="$!{providerInfo.settlement}" readonly/></td>
					<th>结算方式：</th>
   					<td ><input type="text" id="settlementway" name="providerInfo.settlementway" class="easyui-textbox" style="width:200px" value="$!{providerInfo.settlementway}" readonly/></td>
   				</tr>
				<tr>
   					<th>结账周期：</th>
   					<td ><input type="text" id="settlementcycle" name="providerInfo.settlementcycle" class="easyui-textbox" style="width:200px" value="$!{providerInfo.settlementcycle}" readonly/></td>
					<th>&nbsp;</th>
   					<td >&nbsp;</td>
   				</tr>
				<tr>
					<th>地址：</th>
   					<td style="width:85%;" colspan="4">
    						<select name="province" id="province" onchange="selectArea(this.value,'city','county')" style="23%; height: 20px; vertical-align: middle;" disabled>
								<option	value="">--请选择--</option>
							</select> 
							<select name="city" id="city" onchange="selectArea(this.value,'county','county')" style="width: 23%; height: 20px; vertical-align: middle;" disabled>
								<option value="">--请选择--</option>
							</select> 
							<select name="county" id="county" style="width: 23%; height: 20px; vertical-align: middle;" disabled>
								<option value="">--请选择--</option>
							</select> 
							<input onkeydown="if(event.keyCode==13){event.keyCode=0;return false}" id="street" name="street" type="text" class="easyui-textbox" value="$!{providerInfo.zcZoning.street}" readonly/>
                        </td>
                </tr>
   				<tr>
   					<th>备注信息：</th>
					<td colspan="4"><input type="text" id="remark" name="providerInfo.remark" class="easyui-textbox" style="width:306px" value="$!{providerInfo.remark}" readonly/></td>
   				</tr>
				<tr>
					<td colspan="4">
						&nbsp;
                    </td>
				</tr>
				<tr align="center" >
    				<td align="center" colspan="5">
    					<a href="#" class="easyui-linkbutton" data-options="" style="width:80px;" onclick="window.parent.closeWinForm();">关闭</a>
    				</td>
				</tr>
				<tr>
					<td colspan="4">
						&nbsp;
                    </td>
				</tr>
			</table>
		</div>
	</div>
</div>

</body>

<script type="text/javascript">
$(function(){ 
	initArea('province');
	selectArea('$!{providerInfo.zcZoning.province}','city','county');
	selectArea('$!{providerInfo.zcZoning.city}','county','county');
	$("#province option[value='$!{providerInfo.zcZoning.province}']").attr("selected", true);
	$("#city option[value='$!{providerInfo.zcZoning.city}']").attr("selected", true);
	$("#county option[value='$!{providerInfo.zcZoning.county}']").attr("selected", true);
});
</script>
</html>