<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>
#parse(${init_path})
<div style="overflow: auto">
    <div id="tb" class="top_search">
    	<form class="searchForm" id="searchForm" method="post">
    		<div class="cell">
    			<table border="0" cellpadding="0" cellspacing="0">
                    <tr>
						<td style="width:100%" align="left" >
							货号：
							<input id="serialNumber" name="wholesaleQuery.serialNumber" type="text" class="easyui-textbox"/>
							类别：
							<input id="classify" name="wholesaleQuery.classify.id" type="text" class="easyui-textbox"/>
							客户：
							<input  id="customer" name="wholesaleQuery.customerInfo.id" type="easyui-textbox"/>
							分店仓库：
							<input  id="branch" name="wholesaleQuery.branch.id" type="easyui-textbox"/>
							<a href="#" class="easyui-linkbutton" iconCls="icon-new-search" onclick="searchData()">查询</a>
                        </td>
					</tr>
    	       	</table>
    		</div>
    	</form>
    </div>
    <table id="dg" class="easyui-datagrid" width="100%"></table>
</div>
</body>
<script type="text/javascript">
	$(function(){
	initParentTree();
	
	//去除回车键
	document.onkeydown=function(evt){
		if(evt.keyCode ==13){
			searchData();
		}
	};
	
	var winHeight = $(window).height();
	$('#dg').datagrid({
		cache: false,
		title:'$!{title}', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:true, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/wholesaleGroupPurchase/query/listDetailQueryJson?time="+new Date(), //数据来源
		queryParams:{
			'wholesaleQuery.serialNumber':$('#serialNumber').val(),
			'wholesaleQuery.classify.id':$('#classify').combobox('getValue'),
			'wholesaleQuery.customerInfo.id':$('#customer').combobox('getValue'),
			'wholesaleQuery.branch.id':$('#branch').combobox('getValue'),
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:200,
		pageList:[200,300,500],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:30px;";
			}}, //显示复选框
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'WHOLESELLODD',title:'单据号',width:'21%',align:'left',sortable:true,sortable:true},  
			##{field:'',title:'付款方式',width:'7%',align:'left',sortable:true,sortable:true},   
			{field:'CUST_CODE',title:'客户编码',width:'7%',align:'left',sortable:true,sortable:true},  
			{field:'CUST_NAME',title:'客户名称',width:'21%',align:'left',sortable:true,sortable:true}, 
			{field:'CLASSIFY_CODE',title:'类别编码',width:'7%',align:'left',sortable:true,sortable:true},
			{field:'CLASSIFY_NAME',title:'类别名称',width:'7%',align:'left',sortable:true,sortable:true},
			{field:'GOODS_SPECIFICATIONS',title:'规格',width:'8%',align:'left',sortable:true,sortable:true},
			{field:'SERIALNUMBER',title:'货号',width:'8%',align:'left',sortable:true,sortable:true},
			{field:'GOODS_NAME',title:'商品名称',width:'10%',align:'left',sortable:true,sortable:true}, 
			{field:'NUMS',title:'销售数量',width:'7%',align:'right',sortable:true,hidden:true,formatter:formatterNumber},
			{field:'SELLAMOUNT',title:'销售金额',width:'7%',align:'right',sortable:true,hidden:true,formatter:formatterNumber},
			{field:'RETURNNUMS',title:'退货数量',width:'7%',align:'right',sortable:true,hidden:true,formatter:formatterNumber},
			{field:'RETURNAMOUNT',title:'退货金额',width:'7%',align:'right',sortable:true,hidden:true,formatter:formatterNumber},
			{field:'ACTNUMS',title:'小计数量',width:'7%',align:'right',sortable:true,sortable:true,formatter:function(value,rec){
				return formatterNumber(rec.NUMS-rec.RETURNNUMS);
			}},
			{field:'ORDER_PRICE',title:'单价',width:'7%',align:'right',sortable:true,sortable:true,formatter:formatterNumber},
			{field:'ACTAMOUNT',title:'小计金额',width:'7%',align:'right',sortable:true,sortable:true,formatter:function(value,rec){
				return formatterNumber(rec.SELLAMOUNT-rec.RETURNAMOUNT);
			}},
			{field:'CREATETIME',title:'操作日期',width:'21%',align:'left',sortable:true,formatter:formatterCompleteDate},
			{field:'STATUE',title:'审核',width:'10%',align:'left',sortable:true,formatter:formatterStatus},
			{field:'BRANCH_NAME',title:'仓库',width:'21%',align:'left',sortable:true,sortable:true},
			##{field:'ACTRATEAMOUNT',title:'税额',width:'7%',align:'right',sortable:true,sortable:true,formatter:function(value,rec){
			##	return formatterNumber(((rec.SELLAMOUNT-rec.RETURNAMOUNT)/(1*1+rec.RATE*1))*rec.RATE);
			##}},
			##{field:'NULLRATEAMOUNT',title:'不含税金额',width:'7%',align:'right',sortable:true,sortable:true,formatter:function(value,rec){
			##	return formatterNumber((rec.SELLAMOUNT-rec.RETURNAMOUNT)/(1*1+rec.RATE*1));
			##}},
			##{field:'RATE',sortable:true,sortable:true,hidden:true},
			
		]],
		toolbar:'#tb',
		onLoadSuccess:function(){
			$('#dg').datagrid('clearSelections'); //一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		}
	});
	
});

$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});

function searchData(){
	var queryParams = {
			'wholesaleQuery.serialNumber':$('#serialNumber').val(),
			'wholesaleQuery.classify.id':$('#classify').combobox('getValue'),
			'wholesaleQuery.customerInfo.id':$('#customer').combobox('getValue'),
			'wholesaleQuery.branch.id':$('#branch').combobox('getValue'),
	};
	$('#dg').datagrid('options').queryParams = queryParams;
	$("#dg").datagrid('load');
}


$('#branch').combobox({
	method:'POST',
	url:'${rc.contextPath}/purchase/purchaseOrder/listJson',
	valueField:'ID',
	textField:'BRANCH_NAME',
	onSelect:function(rec){
		searchData();
	}
});
	
$('#customer').combobox({
	method:'POST',
	url:'${rc.contextPath}/customer/customerinfo/listJson',
	valueField:'ID',
	textField:'NAME',
	onSelect:function(rec){
		searchData();
	}
});
	
	// 初始化父级菜单下拉框
function initParentTree() {
	$('#classify').combotree({
		url : Utils.getRootPath() + "/commodityClassify/getTreeData",
		onLoadSuccess : function(node, data) {
			var optionValue = $('#classify').attr("optionValue");
			if (optionValue != undefined && optionValue != "") {
				$('#classify').combotree('setValue', optionValue);
			}
		},
		onSelect:function(rec){
			searchData();
		}
	});
}


</script>
</html>