<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>
<div style="overflow: auto">
    <div id="tb" class="top_search">
    	<form class="baseform" id="baseForm" method="post">
    		<div class="cell">
    			<table border="0" cellpadding="0" cellspacing="0">
					<input type="hidden" name="processGoodsId" id="processGoodsId" value="$!{processGoodsId}"/>
    	           <tr>
    	             <td width="10%" align="left">
						分拣单号：
						<input id="sorteOdd" name="sorteOdd" type="text" class="easyui-textbox"/>
						<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-new-search" onclick="searchData();" plain="true">查询</a>
                     </td>
				   </tr>
    	       	</table>
    		</div>
    	</form>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-save" onclick="chooseThisProcess()" plain="true">导入分拣数据</a>
    </div>
    <table id="dg" width="100%"></table>
</div>
</body>
<div id="ddialog" class="easyui-dialog" title="数据同步中.." style="width:400px;height:100px" data-options="iconCls:'icon-new-save',resizable:true,modal:true">   
    <div id="progressbar"  data-options="value:60"  style="width:100%;margin:0 auto;margin-top: 10px;text-align:center;">
        <img src="${rc.contextPath}/resources/image/ajax1.gif"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;正在同步数据，请耐心等待.....&nbsp;&nbsp;&nbsp;
	</div>
</div>
<script type="text/javascript" src="${rc.contextPath}/resources/js/warehouse/processGoods.js"></script>
<script type="text/javascript">
$(function(){
	$("#ddialog").dialog('close');
	//去除回车键
	document.onkeydown=function(evt){
		if(evt.keyCode ==13){
			searchData();
		}
	};
	var winHeight = $(window).height();
	$('#dg').datagrid({
		cache: false,
		title:'分拣单列表', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:true, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/wareHouse/processGoods/chooseSorteList?time="+new Date(), //数据来源
		queryParams:{
			'sorteOdd':$('#sorteOdd').val(),
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:20,
		pageList:[20,30,50],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:30px";
			}}, //显示复选框
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'CODE',title:'分拣单号',width:'18%',sortable:true,sortable:true},
			{field:'NAME',title:'制作人',width:'18%',sortable:true,sortable:true},
			{field:'CREATETIME',title:'操作日期',width:'18%',sortable:true,sortable:true,formatter:formatterCompleteDate},
			{field:'AUDITS_TATUS',title:'审核状态',width:'18%',sortable:true,formatter:formatterStatus},
			{field:'REMRKS',title:'备注',width:'24%',sortable:true,sortable:true}
		]],
		toolbar:'#tb',
		onLoadSuccess:function(){
			$('#dg').datagrid('clearSelections'); //一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		}
	});
});

$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});

function searchData(){
	var queryParams = {
		'sorteOdd':$('#sorteOdd').val(),
	};
	$('#dg').datagrid('options').queryParams = queryParams;
	$("#dg").datagrid('load');
}
</script>
</html>