<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>
#parse(${init_path})
<div style="overflow: auto">
    <div id="tb" class="top_search">
    	<form class="searchForm" id="searchForm" method="post">
    		<div class="cell">
    			<table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <th width="10%">加工单号：</th>
                        <td width="20%" align="left">
							<input  id="odd" name="processGoods.odd" type="text" class="easyui-textbox"/>
						</td>
						<td>
							<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-new-search" onclick="searchData();">查询</a>
                        </td>
					</tr>
    	       	</table>
    		</div>
    	</form>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="newAddProcessGoods()" plain="true">新增</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-edit" onclick="openEditProcessGoods()" plain="true">编辑</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="openAddproduct()" plain="true">扫码</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-delete" onclick="deleteProcessGoods()" plain="true">删除</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-save" onclick="dataRecord()" plain="true">同步数据</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-check" onclick="checkProcessGoods()" plain="true">审核</a>
    </div>
    <table id="dg" class="easyui-datagrid" width="100%"></table>
</div>
</body>
<script type="text/javascript" src="${rc.contextPath}/resources/js/warehouse/processGoods.js"></script>
<script type="text/javascript">
	$(function(){
	//去除回车键
	document.onkeydown=function(evt){
		if(evt.keyCode ==13){
			return;
		}
	};
	
	var winHeight = $(window).height();
	$('#dg').datagrid({
		cache: false,
		title:'$!{title}', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:true, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/wareHouse/processGoods/listProcessGoodsJson?time="+new Date(), //数据来源
		queryParams:{
			'processGoods.odd':$("#odd").val(),
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:10,
		pageList:[10,15,20],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:30px;";
			}}, //显示复选框
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'ODD',title:'加工单号',width:'27%',sortable:true,formatter:function(value,res){
				return "<a href='#' onclick=openDetail('"+res.ID+"') ><span style='color:blue'>"+value+"</span></a>";
			}},
			{field:'USETOTALNUM',title:'原料使用总数',align:'right',width:'15%',sortable:true,formatter:formatterNumber},
			{field:'GOODSTOTALNUM',title:'成品份数',align:'right',width:'15%',sortable:true,formatter:formatterNumber},
			{field:'CREATETIME',title:'创建时间',width:'25%',sortable:true,formatter:formatterCompleteDate},
			{field:'STATUE',title:'审核状态',width:'15%',sortable:true,formatter:formatterStatus},
		]],
		toolbar:'#tb',
		onLoadSuccess:function(){
			$('#dg').datagrid('clearSelections'); //一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		}
	});
	
});

$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});

function searchData(){
	var queryParams = {
		'processGoods.odd':$("#odd").val(),
	};
	$('#dg').datagrid('options').queryParams = queryParams;
	$("#dg").datagrid('load');
}
</script>
</html>