<link rel="stylesheet" href="${rc.contextPath}/resources/jquery-easyui-1.4.2/themes/metro-gray/easyui.css"></link>
<link rel="stylesheet" href="${rc.contextPath}/resources/jquery-easyui-1.4.2/themes/icon.css"></link>
<script type="text/javascript" src="${rc.contextPath}/resources/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/resources/jquery-easyui-1.4.2/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${rc.contextPath}/resources/js/units/LodopFuncs.js"></script>
<script type="text/javascript" src="${rc.contextPath}/resources/js/units/print.js"></script>
<script type="text/javascript">
</script>
<p><a href="#" class="easyui-linkbutton" iconCls="icon-new-print" onclick="printMyTable()" plain="true">打印</a></p>
<div id="div1">
<TABLE border=0 cellSpacing=0 cellPadding=0 width="100%">
<DIV style="LINE-HEIGHT: 30px" class=size16 align=center><STRONG><font color="#0000FF">分拣单</font></STRONG></DIV>     
  <TBODY>
  <TR>
    <TD width="50%"><font color="#0000FF">单据号：<SPAN >$!{sorte.code}</SPAN></font></TD>
    <TD width="50%"><font color="#0000FF">分拣方式：<SPAN>$!{sorte.sortingMethod}</SPAN></font><font color="#0000FF"></font></TD>
  </TR>
  <TR>
    <TD><font color="#0000FF">制单人：<SPAN >$!{sorte.makeMen.name}</SPAN></font></TD>
	<TD><font color="#0000FF">制单日期：<SPAN >$!{sorte.createTime}</SPAN></font></TD>
  </TR>
  <TR>
	<TD><font color="#0000FF">审核人：$!{sorte.auditMen.name}</font></TD>
    <TD><font color="#0000FF">审核日期：<SPAN>$!{sorte.auditTime}</SPAN></font></TD>
  </TR>
   <TR>
    <TD><font color="#0000FF">分拣单状态：<SPAN>完成</SPAN></font><font color="#0000FF"></font></TD>
  </TR>
  <TR>
    <TD><font color="#0000FF">备注信息：$!{sorte.remrks}</font></TD>
	<TD width="50%"><font color="#0000FF">&nbsp;</font></TD>
  </TR>
  </TBODY>
</TABLE>
</div>
<div id="div2">
	<TABLE border=1 cellSpacing=0 cellPadding=1 width="100%" style="border-collapse:collapse" bordercolor="#333333">
<thead>
  <TR>
    <TD width="20%">
      <DIV align=center><b>分店编码</b></DIV></TD>
    <TD width="36%">
      <DIV align=center><b>分店名称</b></DIV></TD>
    <TD width="20%">
      <DIV align=center><b>分店负责人</b></DIV></TD>
    <TD width="20%">
      <DIV align=center><b>联系电话</b></DIV></TD>
    </TR>
</thead>      
  <TBODY>  
	#foreach($num in ${sorteItemsList})
  <TR>
    <TD align="center" >$!{num.branchTotalId.branch_code}</TD>
    <TD align="center" >$!{num.branchTotalId.branch_name}</TD>
    <TD align="center" >$!{num.customer.userName}</TD>
    <TD align="center" >$!{num.customer.mobilePhone}</TD>
  </TR>
	  #end
  </TBODY>
</TABLE>
</div>
