<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>
<div style="overflow: auto">
    <div id="tb" class="top_search">
    	<form class="searchForm" id="baseForm" method="post">
    		<div class="cell">
				<input type="hidden" name="zcSalesPromotion.id" id="zcSalesPromotionId" value="$!{zcSalesPromotion.id}"/>
				<input type="hidden" name="zcSalesPromotion.checkState" id="status" value="$!{zcSalesPromotion.checkState}"/>
				<table border="0" cellpadding="0" cellspacing="0">
    	           <tr>
						<th style="width:11%">促销编号：</th>
						<td style="width:22%">
							$!{zcSalesPromotion.promotionNumber}
                        </td>
						<th style="width:11%">制单日期：</th>
						<td>
							$!{zcSalesPromotion.createTime}
                        </td>
						<th style="width:11%">制单人：</th>
						<td style="width:22%">
							$!{zcSalesPromotion.createMan}
						</td>
    	           </tr>
				   <tr>
						<th style="width:11%"><span style='color:red'>*&nbsp;</span>促销方式：</th>
                        <td style="width:20%">
                            <select  id="zcCodeMode" name="zcSalesPromotion.ZcCodeMode.id" style="width:98%" onchange="searchData();searchDataGrid();"></select>
						</td>
						<th style="width:11%">会员等级：</th>
						<td>
							<select  id="memberLevel" name="zcSalesPromotion.memberLevel" style="width:74%" readonly >
							</select>
						</td>
						<th style="width:11%">审核人：</th>
                        <td>
							$!{zcSalesPromotion.checkMan}
						</td>
    	           </tr>
				   <tr>
						<th style="width:11%"><span style='color:red'>*&nbsp;</span>商品范围：</th>
                        <td style="width:20%">
							<select  id="zcCodeScope" name="zcSalesPromotion.ZcCodeScope.id" style="width:98%" onchange="searchData();searchDataGrid();"></select>
						</td>
						<th style="width:11%">审核日期：</th>
						<td>
							$!{zcSalesPromotion.checkDate}
						</td>
						<th style="width:11%">促销标题：</th>
						<td>
							<input  id="promotionTitle" name="zcSalesPromotion.promotionTitle" type="text" value="$!{zcSalesPromotion.promotionTitle}"/>
                        </td>
    	           </tr>
                   <tr>
						<th style="width:11%"><span style='color:red'>*&nbsp;</span>促销期限：</th>
                        <td style="width:20%">
							<input type="text" id="promotionBeginDate" name="zcSalesPromotion.promotionBeginDate" value="$!{zcSalesPromotion.promotionBeginDate}" readonly="true" class="Wdate" style="width:45%;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd '})"/>
							-
							<input type="text" id="promotionEndDate" name="zcSalesPromotion.promotionEndDate" readonly="true" value="$!{zcSalesPromotion.promotionEndDate}" class="Wdate" style="width:45%;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd '})"/>
						</td>
						<th width="11%">
						<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="openChoseBranch()" plain="true">选择门店</a>
					 </th>
					 <td width="20%">
						<input id="branchCode" name="" style="width:95%;" value="$!{branchTotal}" readonly/>
                     </td>
						
				   </tr>
				   <tr>
						<th style="width:11%">终止人：</th>
						<td>
							$!{zcSalesPromotion.stopMan}
						</td>
						<th style="width:11%">终止日期：</th>
						<td>
							$!{zcSalesPromotion.stopDate}
						</td>
						<th style="width:11%">促销描述：</th>
						<td>
							<input  id="promotionRemark" name="zcSalesPromotion.promotionRemark" type="text" value="$!{zcSalesPromotion.promotionRemark}"/>
						</td>
				   </tr>
				   <tr>
						<th width = "11%">
							<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="openChosePresent()" plain="true">赠送商品</a>
                        </th>
                        <td width="20%">
							<span style='color:red'>
								(注：该选择只在买满送商品活动有效)
                            </span>
                        </td>
						<th width="11%">促销日子:</th>
						<td width="" colspan="3">
    						<label><input id="week1" name="week" type="checkbox" value="1"/>星期一</label>
                            <label><input id="week2" name="week" type="checkbox" value="2"/>星期二</label>
    						<label><input id="week3" name="week" type="checkbox" value="3"/>星期三</label>
    						<label><input id="week4" name="week" type="checkbox" value="4"/>星期四</label>
    						<label><input id="week5" name="week" type="checkbox" value="5"/>星期五</label>
    						<label><input id="week6" name="week" type="checkbox" value="6"/>星期六</label>
    						<label><input id="week7" name="week" type="checkbox" value="7"/>星期日</label>
						</td>
				   </tr>
    	       	</table>
    				
    		</div>
    	</form>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-save" onclick="EidtLineToBuyFullSend('baseForm')" plain="true">保存并提交</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="openEditGoodsFull()" plain="true">选择</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-delete" onclick="addGoodsWhileEdit('1')" plain="true">增加</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-delete" onclick="deleteChose()" plain="true">删除</a>
    </div>
    <table id="dg" width="100%"></table>
</div>
</body>
<div id="selectOptions" class="easyui-window" style="width:900px;height:400px;">
</div>
<style>
</style>
<script type="text/javascript" src="${rc.contextPath}/resources/js/promotion/buyfullsend.js"></script>
<script type="text/javascript">
	$(function(){
	debugger;
	$('#selectOptions').window('close');
	
	initSelectCode('SaleScope','zcCodeScope');
	
	initSelectCode('FullBuySendType','zcCodeMode');
	
	initSelectCode('memberLevel','memberLevel');
	
	$("#zcCodeScope option[value='$!{zcSalesPromotion.ZcCodeScope.codeValue}']").attr("selected", true);
	$("#zcCodeMode option[value='$!{zcSalesPromotion.ZcCodeMode.codeValue}']").attr("selected", true);
	$("#memberLevel option[value='$!{zcSalesPromotion.memberLevel}']").attr("selected", true);
	
	var chk = '$!{zcSalesPromotion.promotionDays}' ;
	var chk_week = chk.split(',');
	for(var i in chk_week){
		if(chk_week[i]=="1"){
			$('#week1').attr("checked", true);
		}
		if(chk_week[i]=="2"){
			$('#week2').attr("checked", true);
		}
		if(chk_week[i]=="3"){
			$('#week3').attr("checked", true);
		}
		if(chk_week[i]=="4"){
			$('#week4').attr("checked", true);
		}
		if(chk_week[i]=="5"){
			$('#week5').attr("checked", true);
		}
		if(chk_week[i]=="6"){
			$('#week6').attr("checked", true);
		}
		if(chk_week[i]=="7"){
			$('#week7').attr("checked", true);
		}
		
	}
	//去除回车键
	document.onkeydown=function(evt){
		if(evt.keyCode !=13){
		}else{
			addPyGoods();
		}
	};
	debugger;
	var winHeight = $(window).height();
	$('#dg').datagrid({
		cache: false,
		title:'买满送列表', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:false, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/buyFullSend/buyFullSend/listPromotionItemsEditOrderJson?time="+new Date(), //数据来源
		queryParams:{
			'zcSalesPromotion.id':$('#zcSalesPromotionId').val(),
			'zcSalesPromotion.ZcCodeScope.codeValue':$('#zcCodeScope').val(),
			'zcSalesPromotion.ZcCodeMode.codeValue':$('#zcCodeMode').val()
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:200,
		pageList:[200,300,500],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:30px";
			}},
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'CLASSCODE',title:'类别编码',width:'8%',sortable:true,align:'left' ,hidden:true},
			{field:'CLASSNAME',title:'类别名称',width:'8%',sortable:true,align:'left' ,hidden:true},
			{field:'BRANDCODE',title:'品牌编码',width:'8%',sortable:true,align:'left' ,hidden:true},
			{field:'BRANDNAME',title:'品牌名称',width:'8%',sortable:true,align:'left' ,hidden:true},
			{field:'SERIALNUMBER',title:'商品编号',width:'8%',sortable:true,align:'left' ,hidden:true},
			{field:'GOODS_NAME',title:'商品名',width:'8%',sortable:true,sortable:true,align:'left' ,hidden:true},
			{field:'GOODS_PRICE',title:'单价',width:'6%',sortable:true,sortable:true,formatter:formatterNumber,align:'right' ,hidden:true},
			{field:'FULL_BUY_MONEY',title:'买满金额',width:'8%',align:'right',editor:{type:'numberbox',options:{precision:2}} ,hidden:true},
			{field:'ADD_MONEY',title:'赠送金额',width:'8%',align:'right',editor:{type:'numberbox',options:{precision:2}} ,hidden:true},
			{field:'ADD_MORE_MONEY',title:'增加金额',width:'8%',align:'right',editor:{type:'numberbox',options:{precision:2}} ,hidden:true},
			{field:'REDUCE_MONEY',title:'减少金额',width:'8%',align:'right',editor:{type:'numberbox',options:{precision:2}} ,hidden:true},
			{field:'FULL_BUY_COUNT',title:'买满数量',width:'8%',align:'right',editor:{type:'numberbox',options:{precision:2}} ,hidden:true},
			{field:'FREE_GOODSIDS',title:'赠送商品货号',width:'18%',align:'right',hidden:true},
			{field:'GOODS_PURCHASE_PRICE',title:'进价',width:'6%',sortable:true,sortable:true,formatter:formatterNumber,align:'right' ,hidden:true},
			{field:'GOODS_SPECIFICATIONS',title:'规格',width:'8%',sortable:true,sortable:true,align:'left',formatter:showGoods ,hidden:true},
			{field:'GOODS_UNIT',title:'单位',width:'8%',sortable:true,sortable:true,align:'left' ,hidden:true},
		]],
		toolbar:'#tb',
		onLoadSuccess:function(data){
			for(var i = 0;i < data.rows.length;i++){
    			$('#dg').datagrid('beginEdit',i);				
    		}
			
		}
	});
	// 取得div层
	var $search = $('#search');
	searchDataGrid();
	$('#dg').datagrid("reload");
});
$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});


function searchData(){
	var queryParams = {
			'zcSalesPromotion.id':$('#zcSalesPromotionId').val(),
			'zcSalesPromotion.ZcCodeScope.codeValue':$('#zcCodeScope').val(),
			'zcSalesPromotion.ZcCodeMode.codeValue':$('#zcCodeMode').val()
	};
	$('#dg').datagrid('options').queryParams = queryParams;
}
	
	
	
</script>
</html>