<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <link rel="stylesheet" type="text/css" href="css/easyui.css">
	<link rel="stylesheet" type="text/css" href="css/demo.css">
	<link rel="stylesheet" type="text/css" href="css/icon.css">
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>

<div style="overflow: auto">
    <div id="tb" class="top_search">
    	<form class="searchForm" id="searchForm" method="post">
    		<div class="cell">
    			<table border="0" cellpadding="0" cellspacing="0">
    				<tr>
						<th width="9%">促销编号：
    						<td id="td_order" width="20%">
    							<input  onkeydown="if(event.keyCode==13){event.keyCode=0;return false}" style="width:100%;" id="promotionNumber" name="promotionNumber" type="text" class="easyui-textbox"/>
    						</td>
						</th>
					 	
						<th width="16%">审核状态：</th>
					 	<td width="10%">
    	             		<select name="state" id="state" style="width:100%;"  >
							</select>
                     </td>
                     <th width="10%">促销日期：</th>
    	             		<td width="22%">
								<input type="text" id="promotionBeginDate" name="promotionBeginDate" readonly="true" class="Wdate" style="width:45%;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
						-
								<input type="text" id="promotionEndDate" name="promotionEndDate" readonly="true" class="Wdate" style="width:45%;" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
					 		</td>
#*                     <th width="10%">订单状态：</th>
    	             <td width="10%">
    	             	<select name="orderStatus" id="orderStatus" style="width:92%;"  >
    						<option value="">--请选择--</option>
    						<option value="dead">作废</option>
    						<option value="active">正常</option>
							<option value="picking">配货中 </option>
							<option value="finish">完成</option>
    					</select>
    	             </td> 
*#
					 <th width=""></th>
					</tr>
				</table>
				<table border="0" cellpadding="0" cellspacing="0">
				    <tr>
                     <th width="11%" >会员等级：</th>
						<td style="width:49%;" colspan="4" >
    						<select name="memberLevel" id="memberLevel"  style="width: 23%; height: 25px; " >
							</select> 
                        </td>
					<th width="11%">操作人：</th>
						<td style="width:49%;" colspan="4">
    						<select id="createMan" name="createMan"  style="width: 40%; height: 25px; ">
                            </select>
                        </td>
    	           </tr>
    	       	</table>
    		</div>
			<ul>
    			<li class="top_search_libtn">
    				<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-new-search" onclick="searchData()">查询</a>
    				<a href="#" class="easyui-linkbutton" iconCls="icon-new-reduce" onclick="clearForm(searchForm)">清空</a>
    			</li>
				<li>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="addPromotion('新增促销单',1000,800)" plain="true">新增</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-edit" onclick="editPromotion('编辑促销单',1000,535)" plain="true">编辑</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-delete" onclick="destroyInfo()" plain="true">删除</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-check" onclick="openCheck('审核促销单',1000,535)" plain="true">审核</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-check" onclick="stop()" plain="true">终止</a>
				</li>
    		</ul>
    	</form>
    </div>
    <table id="dg" class="easyui-datagrid"></table>
</div>

</body>
<script type="text/javascript" src="${rc.contextPath}/resources/js/promotion/discount.js"></script>
<script type="text/javascript">
	$(function(){
	initSelectCode('Statue','state');
	
	initSelectCode('memberLevel','memberLevel');
	
	$('#createMan').combobox({
		method:'POST',
        url:'${rc.contextPath}/userInfo/selectListJson',
        valueField:'USERID',
        textField:'USERNAME'
	});
	//去除回车键
	document.onkeydown=function(evt){
		if(evt.keyCode ==13){
			searchData();
		}
	};
	
	var winHeight = $(window).height();
	$('#dg').datagrid({
		cache: false,
		title:'$!{title}', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:true, //单选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/discount/discount/listZcSalesPromotionJson?time="+new Date(), //数据来源
		queryParams:{
			'zcSalesPromotion.promotionNumber':$('#promotionNumber').val(),
			'zcSalesPromotion.checkState':$('#state').val(),
			'zcSalesPromotion.promotionBeginDate':$('#promotionBeginDate').val(),
			'zcSalesPromotion.promotionEndDate':$('#promotionEndDate').val(),
			'zcSalesPromotion.memberLevel':$('#memberLevel').val(),
			'zcSalesPromotion.createMan':$('#createMan').combobox('getValue')
			
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:20,
		pageList:[20,40,60],
		columns:[[
/*			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:40px;";
			}}, //显示复选框*/
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'PROMOTION_NUMBER',title:'促销编号',width:'15%',align:'left',sortable:true,sortable:true,formatter:function(value,res){
				return "<a href='#' onclick=openDiscountItem('"+res.ID+"') ><span style='color:blue'>"+value+"</span></a>";
			}},
			{field:'PROMOTION_TITLE',title:'促销名称',width:'12%',align:'left',sortable:true,sortable:true},
			{field:'PROMOTION_BEGIN_DATE',title:'开始日期',align:'left',width:'12%',sortable:true,sortable:true,formatter:formatterCompleteDate},
			{field:'PROMOTION_END_DATE',title:'结束日期',align:'left',width:'12%',sortable:true,sortable:true,formatter:formatterCompleteDate},
			{field:'CHECK_STATE',title:'审核状态',width:'6%',align:'left', formatter : formatterStatus },
			{field:'MEMBER_LEVEL',title:'会员等级',width:'6%',align:'left' ,formatter : function(value,row,index){
				if(value=="1"){
					return "无" ;
				}else
				if(value=="2"){
					return "会员卡" ;
				}else
				if(value=="3"){
					return "折扣卡" ;
				}else
				if(value=="4"){
					return "非会员" ;
				}else
				if(value=="5"){
					return "所有用户" ;
				}else
				{
					return "未知" ;
				}
			}},
			{field:'STOP_MAN',title:'中止人',align:'left',width:'6%',sortable:true},
			{field:'STOP_DATE',title:'中止日期',align:'left',width:'12%',sortable:true,sortable:true,formatter:formatterCompleteDate},
			{field:'CREATE_MAN',title:'制单人',align:'left',width:'9%',sortable:true,sortable:true},
		]],
		toolbar:'#tb',
		onLoadSuccess:function(){
			$('#dg').datagrid('clearSelections'); //一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		}
	});
	
});

$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});
function searchData(){
	var queryParams = {
			'zcSalesPromotion.promotionNumber':$('#promotionNumber').val(),
			'zcSalesPromotion.checkState':$('#state').val(),
			'zcSalesPromotion.promotionBeginDate':$('#promotionBeginDate').val(),
			'zcSalesPromotion.promotionEndDate':$('#promotionEndDate').val(),
			'zcSalesPromotion.memberLevel':$('#memberLevel').val(),
			'zcSalesPromotion.createMan':$('#createMan').combobox('getValue')
	};
	$('#dg').datagrid('options').queryParams = queryParams;
	$("#dg").datagrid('load');
}
</script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
</html>