<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
	<script type="text/javascript" src="${rc.contextPath}/resources/js/basic/goods_file/goods_file.js"></script>
</head>
<body>
<div style="overflow: auto">
    <div id="tb" class="top_search">
    	<form class="searchForm" id="baseForm" method="post">
			<input type="hidden" name="promotion.id" id="zcSalesPromotionId" value="$!{zcSalesPromotionId}"/>
    		<div class="cell">
				<table border="0" cellpadding="0" cellspacing="0">
    	           <tr>
						<th style="width:11%">促销编号：</th>
						<td style="width:22%">
							$!{zcSalesPromotion.promotionNumber}
                        </td>
						<th style="width:11%">制单日期：</th>
						<td>
							$!{zcSalesPromotion.createTime}
                        </td>
						<th style="width:11%">制单人：</th>
						<td style="width:22%">
							$!{zcSalesPromotion.createMan}
						</td>
    	           </tr>
				   <tr>
						<th style="width:11%">促销方式：</th>
                        <td style="width:20%">
							$!{zcCodeMode}
						</td>
						<th style="width:11%">会员等级：</th>
						<td id = "memberLevel">
							$!{memberLevel}
						</td>
						<th style="width:11%">审核人：</th>
                        <td>
							$!{zcSalesPromotion.checkMan}
						</td>
    	           </tr>
				   <tr>
						<th style="width:11%"><span style='color:red'>*&nbsp;</span>促销期限：</th>
                        <td style="width:20%">
							<span>$!{beginDate}</span>
							-
							<span>$!{endDate}</span>
							
						</td>
						<th style="width:11%">审核日期：</th>
						<td>
							$!{zcSalesPromotion.checkDate}
						</td>
						<th style="width:11%">方案名称：</th>
						<td>
							$!{zcSalesPromotion.promotionTitle}
                        </td>
    	           </tr>
				   <tr>
						<th style="width:11%">终止人：</th>
						<td>
							$!{zcSalesPromotion.stopMan}
						</td>
						<th style="width:11%">终止日期：</th>
						<td>
							$!{zcSalesPromotion.stopDate}
						</td>
						<th style="width:11%">促销描述：</th>
						<td>
							 $!{zcSalesPromotion.promotionRemark}
						</td>
				   </tr>
                   <tr>
					 <th width="11%">
						分店
					 </th>
					 <td width="20%" id="branchCode">
						$!{branchTotal}
                     </td>
					<th width="11%">促销日子:</th>
						<td width="20%" >
    						$!{week}
						</td>
				   </tr>
    	       	</table>
    		</div>
			<a href="#" class="easyui-linkbutton" iconCls="icon-new-checkpass" onclick="checkPass()" plain="true">审核通过</a>
			<a href="#" class="easyui-linkbutton" iconCls="icon-new-checknopass" onclick="checkNoPass(1)" plain="true">审核不通过</a>
    	</form>
    </div>
    <table id="dg" width="100%"></table>
</div>
</body>
<div id="selectOptions" class="easyui-window" style="width:900px;height:400px;">
</div>
<div id="flt"  name="flt" style="right:1px; POSITION:absolute; top:10px; z-index:99;"></div>
<style>
</style>
<script type="text/javascript" src="${rc.contextPath}/resources/js/promotion/specialprice.js"></script>
<script type="text/javascript">
$(function(){
	$('#selectOptions').window('close');
	
	initSelectCode('SpecialPriceType','zcCodeMode');
	$('#memberLever').val();
	var array = '$!{promotion.branchTotalList}';
	$('#branchCode').val();
	
	if(status=='2'){
		$('#flt').append('<img src="${rc.contextPath}/resources/image/pass.png" >');
	}
	
	//去除回车键
	document.onkeydown=function(evt){
		if(evt.keyCode !=13){
		}else{
			addPyGoods();
		}
	};
	var winHeight = $(window).height();
	$('#dg').datagrid({
		cache: false,
		title:'商品列表', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:false, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/specialPrice/listPromotionItemsNullJson?time="+new Date(), //数据来源
		queryParams:{
			'zcSalesPromotion.id' : $('#zcSalesPromotionId').val()
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:200,
		pageList:[200,300,500],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:30px";
			}},
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field: 'GROUP_NUMBER', title:'组号', width:'8%', sorteable:true, align:'left', hidden:true ,formatter:formatterNumber},
			{field: 'SERIALNUMBER', title:'货号', width:'8%', sorteable:true, align:'left'},
			{field: 'GOODS_NAME', title:'商品名', width:'20%', sorteable:true, align:'left'},
			{field: 'GOODS_PRICE', title:'零售价', width:'8%', sorteable:true, align:'left', formatter:formatterNumber},
			{field: 'NUMS', title:'数量', width:'8%', sorteable:true, align:'right', hidden:true ,formatter:formatterNumber},
			{field: 'FULL_BUY_COUNT', title:'买满数量', width:'8%', sorteable:true, align:'right', hidden:true ,formatter:formatterNumber},
			{field: 'BARGAIN_PRICE', title:'特价', width:'8%', sorteable:true, align:'right',formatter:formatterNumber},
			{field: 'LIMIT_NUMBER', title:'每单限量', width:'8%', sorteable:true, align:'right', hidden:true ,formatter:formatterNumber},
			{field: 'BEGIN_TIME_FRAME', title:'开始时间', width:'12%', sorteable:true, align:'left', hidden:true},
			{field: 'END_TIME_FRAME', title:'结束时间', width:'12%', sorteable:true, align:'left', hidden:true},
			{field: 'GOODS_PURCHASE_PRICE', title:'进价', width:'8%', sorteable:true, align:'right',formatter:formatterNumber},
			{field: 'GOODS_UNIT', title:'单位', width:'8%', sorteable:true, align:'left'},
			{field: 'GOODS_SPECIFICATIONS', title:'规格', width:'8%', sorteable:true, align:'left'}
		]],
		toolbar:'#tb',
		onLoadSuccess:function(data){
			for(var i = 0;i < data.rows.length;i++){
    			$('#dg').datagrid('beginEdit',i);				
    		}
			
		}
	});
	// 取得div层
	var $search = $('#search');
	
});
$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});


function searchData(){
	var queryParams = {
		'zcSalesPromotion.id' : $('#zcSalesPromotionId').val()
	};
}
	
	$('#storehouseId').combobox({
		method:'POST',
        url:'${rc.contextPath}/purchase/purchaseOrder/listJson',
        valueField:'ID',
		panelHeight:'200px',
        textField:'BRANCH_NAME'
	});
	
</script>
</html>