<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>

<div style="overflow: auto">
    <div id="tb" class="">
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="openAddWorkStation()" plain="true">新增</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-edit" onclick="openEditWorkStation()" plain="true">编辑</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-delete" onclick="deleteWorkStation()" plain="true">删除</a>
    </div>
    <table id="dg" width="100%"></table>
</div>

</body>
<script type="text/javascript" src="${rc.contextPath}/resources/js/basic/commodityClassify/commodityClassify.js"></script>
<script type="text/javascript">
	$(function(){
	//去除回车键
	document.onkeydown=function(evt){
		if(evt.keyCode ==13){
			return;
		}
	};
	
	var winHeight = $(window).height();
	$('#dg').datagrid({
		cache: false,
		title:'$!{title}', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:true, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/goodsFile/workStation/listWorkStationJson?time="+new Date(), //数据来源
		queryParams:{
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:10,
		pageList:[10,15,20],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:30px;";
			}}, //显示复选框
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'WORKCODE',title:'工位编号',width:'34%',sortable:true},
			{field:'WORKNAME',title:'工位名称',width:'32%',sortable:true},
			{field:'WORKIP',title:'工位IP',width:'31%',sortable:true},
		]],
		toolbar:'#tb',
		onLoadSuccess:function(){
			$('#dg').datagrid('clearSelections'); //一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		}
	});
});

$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});

function searchData(){
	var queryParams = {
	};
	$('#dg').datagrid('options').queryParams = queryParams;
	$("#dg").datagrid('load');
}
</script>
</html>