<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
	<script type="text/javascript" src="${rc.contextPath}/resources/js/basic/branch/branchs.js"></script>
<script type="text/javascript">
$(function(){ 
	initNjArea('country');
	selectNjArea('$!{branchsView.zcZoning.county}','street','street');
	$("#country option[value='$!{branchsView.zcZoning.county}']").attr("selected", true);
	$("#street option[value='$!{branchsView.zcZoning.street}']").attr("selected", true);
});
</script>
</head>
<body style="background-color: #fff">
    <div class="easyui-panel" style="height:100%;width:100%">
    	<form method="" id="baseForm">
			<input type="hidden" name="branchTotal.id" id="id" value="$!{branchsView.id}"/>
			<input type="text" name="branchTotal.createTime" id="createtime" value="$!{branchsView.createTime}"/>
			<input type="hidden" name="branchTotal.zcZoning.id" id="ZoningId" value="$!{branchsView.zcZoning.id}"/>
            <div class="cell">
        		<table width="100%">
    				<tr>
    					<th style="width:15%;">
    						分店编号：
                        </th>
    					<td style="width:35%;">
    						<input onkeydown="if(event.keyCode==13){event.keyCode=0;return false}" id="branch_code" name="branchTotal.branch_code" type="text" style="width:100%;" class="easyui-textbox" reg="Require" tip="请填写分店编码" value="$!{branchsView.branch_code}"/>
                        </td>
						<th style="width:15%;">
    						分店名称：
                        </th>
    					<td style="width:35%;">
    						<input onkeydown="if(event.keyCode==13){event.keyCode=0;return false}" id="branch_name" name="branchTotal.branch_name" type="text" style="width:100%;" class="easyui-textbox" reg="Require" tip="请填写分店名称" value="$!{branchsView.branch_name}"/>
                        </td>
    				</tr>
    				<tr>
    					<th style="width:15%;">
    						分店地址：
                        </th>
    					<td style="width:85%;" colspan="4">
							<select name="branchTotal.zcZoning.province" id="province"  style="width: 23%; height: 25px; vertical-align: middle;" >
								<option	value="江苏省">--江苏省--</option>
							</select> 
							<select name="branchTotal.zcZoning.city" id="city"  style="width: 23%; height: 25px; vertical-align: middle;" >
								<option value="南京市">--南京市--</option>
							</select> 
							<select name="branchTotal.zcZoning.county" id="country" onchange="selectNjArea(this.value,'street','street')" style="width: 23%; height: 25px; vertical-align: middle;" >
								<option value="">--请选择--</option>
							</select>
							<select name="branchTotal.zcZoning.street" id="street" style="width: 23%; height: 25px; vertical-align: middle;" >
								<option value="">--请选择--</option>
							</select> 
						</td>
    				</tr>
    				<tr>
    					<th style="width:15%;">
    						负责人：
                        </th>
    					<td style="width:35%;">
    						<select  id="branch_user" name="branchTotal.customer.id" style="width:100%;" class="easyui-combobox">
    							<option	value="$!{branchsView.customer.id}" selected >$!{branchsView.customer.userName}</option>
								 #foreach (${element} in ${map.UserList})<br>
										<option value='${element.ID}'>${element.USERNAME}</option><br>
								 #end<br>
                            </select>
                        </td>
                        <th style="width:15%;">
    						折让金额：
                        </th>
    					<td style="width:35%;">
    						<input onkeydown="if(event.keyCode==13){event.keyCode=0;return false}" id="money" name="branchTotal.money" type="text" style="width:100%;" class="easyui-numberbox" reg="Require" tip="请填写折让金额" precision="2" value="$!{branchsView.money}"/>
                        </td>
    				</tr>
                </table>
    		</div>
            <div style="height:100%;">
    			<table width="100%" height="100">
    				<tr align="center" >
    					<td align="center" >
    						<a href="#" class="easyui-linkbutton" data-options="" style="width:80px;" onclick="editBaseInfo('baseForm')">保存</a>
                        </td>
    					<td align="center" >
    						<a href="#" class="easyui-linkbutton" data-options="" style="width:80px;" onclick="window.parent.closeWinForm();">关闭</a>
                        </td>
                    </tr>
                </table>
    		</div>
        </form>
    </div>
</body>
</html>