<link rel="stylesheet" href="${rc.contextPath}/resources/jquery-easyui-1.4.2/themes/metro-gray/easyui.css"></link>
<link rel="stylesheet" href="${rc.contextPath}/resources/jquery-easyui-1.4.2/themes/icon.css"></link>
<script type="text/javascript" src="${rc.contextPath}/resources/jquery-easyui-1.4.2/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/resources/jquery-easyui-1.4.2/locale/easyui-lang-zh_CN.js"></script>
<script>
	$(function(){
	$('#selectDG').treegrid({
		cache: false,
		title:'商品分类品牌列表', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:false, //多选
		height:'450', //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/commodityClassify/listJson?time="+new Date(), //数据来源
		queryParams:{
			'type':'$!{type}',
			'commodityClassify.classify_code':$('#classify_code').val(),
			'commodityClassify.classify_name':$('#classify_name').val()
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:15,
		pageList:[10,15,20],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:40px;";
			}}, //显示复选框
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'CLASSIFY_CODE',title:'编码',width:'31%',sortable:true,sortable:true},
			{field:'CLASSIFY_NAME',title:'名称',width:'31%',sortable:true,sortable:true},
			{field:'CLASSIFY_TYPE',title:'类别',width:'31%',sortable:true,"formatter":function(value,res){
				var msg="";
				if(value==1)
				{
					msg="商品类别";
				}
				else if(value==2)
				{
					msg="商品品牌";
				}
				else
				{
					msg="未知";
				}
				return msg;
			}},
		]],
		idField: 'ID',
        treeField: 'CLASSIFY_NAME',
		toolbar:'#tb1',
		onLoadSuccess:function(){
			$('#selectDG').datagrid('clearSelections'); //一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		},
	  	onBeforeLoad: function(row,param){
            if (!row) {    // load top level rows
                param.id = 0;    // set id=0, indicate to load new page rows
            }else{
			 param.id=row.ID;
			}
        }
	});
	
});

$(window).resize(function(){
    $('#selectDG').treegrid('resize',{
    	width:'100%'
    });
});

function selectList(){
	var goods_classify= $('#classifyValues').val();
	var goods_classifyId=$('#classifyIds').val();
	$('#goods_classify').val(goods_classify);
	$('#goods_classifyId').val(goods_classifyId);
}

function selectTreeList(){
	var rows = $('#selectDG').datagrid('getSelections');
	if (rows.length == 0) {
		$.messager.alert('提示', '请选择需要操作的数据！', 'warning');
		return;
	}
	var ids = [];
	
	var name=[];
	for (var i = 0; i < rows.length; i++) {
		ids.push(rows[i].ID);
		name.push(rows[i].CLASSIFY_NAME);
	}
	$('#goods_classify').val(name);
	$('#goods_classifyId').val(ids);
}

function searchData(){
	var queryParams = {
		'type':'$!{type}',
		'commodityClassify.classify_code':$('#classify_code').val(),
		'commodityClassify.classify_name':$('#classify_name').val()
	};
	$('#selectDG').treegrid('options').queryParams = queryParams;
	$("#selectDG").treegrid('load');
}
</script>
<div style="width:100%">
    <div id="tb1" class="">
    	<form class="" id="" method="post">
    		<div class="cell">
    			<table border="0" cellpadding="0" cellspacing="0">
    	           <tr>
    	           	 <th width="10%">编号：</th>
    	             <td width="15%">
						<input onkeydown="if(event.keyCode==13){event.keyCode=0;return false}" id="classify_code" name="commodityClassify.classify_code" type="text" class="easyui-textbox"/>
					 </td>
    	             <th width="10%">名称：</th>
					 <td width="15%">
						<input onkeydown="if(event.keyCode==13){event.keyCode=0;return false}" id="classify_name" name="commodityClassify.classify_name" type="text" class="easyui-textbox"/>
					 </td>
    	             <td width="28%">
    					<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-new-search'" style="width:80px" onclick="searchData()">搜索</a>
    	             </td>
					 <td width="22%">
						<a href="#" class="easyui-linkbutton" iconCls="icon-new-checkpass" onclick="selectTreeList();$('#selectOptions').window('close');"  plain="true">确定</a>
						<a href="#" class="easyui-linkbutton" iconCls="icon-new-checknopass" onclick="$('#selectOptions').window('close');" plain="true">取消</a>
    	             </td>
    	           </tr>
    	       	</table>
    		</div>
    	</form>
    </div>
    <table id="selectDG" width="100%"></table>
</div>
