##<p><a>返回首页</a> | <a>公司简介</a> | <a>业务模块</a> | <a>版权信息</a></p>
##<p>版权所有：test - 任何建议及意见请 <a>联系我们</a></p>
##<p>COPYRIGHT &copy2014 CISDI. ALL RIGHT RESEERVED.</p>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
        
    </div>
</nav>