<div id="navbar" class="navbar navbar-default">
	<div class="navbar-container" id="navbar-container">
		<button type="button" class="navbar-toggle menu-toggler pull-left"
			id="menu-toggler">
			<span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>

		<div class="navbar-header pull-left">
			<!--img style="margin-top:4px" src="../resources/images/logo.png" alt="Jason's Photo" /-->
			<a class="navbar-brand" href="#">众彩物流订单管理系统</a>
		</div>
		<div class="navbar-buttons navbar-header pull-center">
			
        </div>
		<div class="navbar-buttons navbar-header pull-right" style="margin-right: 15px">
    		<span style="color:#fff;font-size:14px;">欢迎您：admin</span>
    		 <i style="margin-top: 17px;margin-left: 4px;width: 30px;height: 30px" class="ace-icon fa fa-cog"></i><a href="#" onclick="viewPassword()" style="font-size:14px;color:#fff;">修改密码</a>
    		 <i style="margin-top: 17px;margin-left: 4px;width: 30px;height: 30px" class="ace-icon fa fa-power-off"></i><a href="" style="font-size:14px;color:#fff;" >退出系统</a>
    		</div>
		</div>
	</div>
</div>