<div style="width:100% ;height:100%;border:0;solid navy;overflow:auto;">
<ul>
    <h2>2015-10-23 更新日志：</h2>
	<li >
		1、第一个测试版本
    </li>
	<li >
		2、商品信息录入
    </li>
	<li >
		3、供应商信息录入
    </li>
	<li >
		4、分店信息录入
    </li>
	<li >
		4、用户信息录入
    </li>
</ul>
<ul>
    <h2>2015-10-30 更新日志：</h2>
	<li >
		1、新的菜单栏
    </li>
	<li >
		2、订单信息拉取
    </li>
	<li >
		3、商品供应商相关联
    </li>
</ul>
<ul>
    <h2>2015-11-06 更新日志：</h2>
	<li >
		1、登录页面修改
    </li>
	<li >
		2、登录功能
    </li>
	<li >
		3、用户权限，模块分配
    </li>
	<li >
		4、采购订单拉取
    </li>
</ul>
<ul>
    <h2>2015-11-12 更新日志：</h2>
	<li >
		1、商品品牌分类修改
    </li>
	<li >
		2、页面样式修改
    </li>
	<li >
		3、仓库盘点、会员管理界面展示
    </li>
	<li >
		4、采购管理功能完善
    </li>
</ul>
<ul>
    <h2>2015-11-17 更新日志：</h2>
	<li >
		1、采购管理模块修改
    </li>
	<li >
		2、订单管理时间设置修改
    </li>
	<li >
		3、新增区域模块、数据字典、日志管理
    </li>
</ul>
<ul>
    <h2>2015-11-19 更新日志：</h2>
	<li >
		1、订单模块生成采购订单修改
    </li>
	<li >
		2、商品模块增加树形菜单
    </li>
	<li >
		3、采购模块修改
    </li>
	<li >
		4、仓库盘点盘点单、盘点号
    </li>
</ul>
<ul>
    <h2>2015-11-26 更新日志：</h2>
	<li >
		1、采购订单新增功能修改、增加记忆功能
    </li>
	<li >
		2、仓库管理所有模块功能开发完成
    </li>
	<li >
		3、结算管理完成发票管理、分店结算的预收款、供应商结算的预付款
    </li>
</ul>
<ul>
    <h2>2015-12-18 更新日志：</h2>
	<li >
		1、订单管理模块按照需求进行调整修改
    </li>
	<li >
		2、采购管理新增待采购商品汇总、其余模块Bug修改
    </li>
	<li >
		3、仓库管理新增商品加工、商品分拣模块、其余模块Bug修改
    </li>
</ul>
<ul>
    <h2>2015-12-29 更新日志：</h2>
	<li >
		1、采购管理、仓库管理查询
    </li>
	<li >
		2、系统设置、基本档案测试并修改
    </li>
	<li >
		3、首页待办事项、公告展示
    </li>
</ul>
</div>