<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
##商品信息展示
<body style="background-color: #fff">
    <div class="easyui-panel" style="height:100%;width:100%">
    <div class="easyui-panel" style="height:100%;width:100%">
    	<div class="easyui-panel" style="height:100%;width:100%">
    		<form class="registerform" id="baseForm" method="post">
    			<input type="hidden" name="goodsFile.id" id="id" value="$!{goodsFile.id}"/>
				<input type="hidden" name="goodsFileId" id="goodsFileId" value="$!{goodsFile.id}"/>
				<input type="hidden" name="goodsFile.createtime" id="createtime" value="$!{goodsFile.createtime}"/>
				<div class="cell">
    				<table border="0" cellpadding="0" cellspacing="0">
						<tr style="font-size:150%"><strong>基本属性</strong></tr>
    					<tr>
    						<th style="width: 11%;"><span style="color: red;">*</span>货     号：</th>
    						<td style="width: 14%;">
    							<input type="text" id="serialNumber" name="goodsFile.serialNumber" class="easyui-textbox" style="width:100px;" value="$!{goodsFile.serialNumber}" readonly reg="Require" tip="请填写货号"/>
    						</td>
    						<th width="11%;"><span style="color: red;">*</span>类      别：</th>
							<td width="14%;">
								<input id="goods_classify" name="goodsFile.goods_class.id" value="$!{goodsFile.goods_class.id}" style="width:120px;"/>
							</td>
							<th style="width: 11%;"><span style="color: red;">*</span>规    格：</th>
    						<td style="width: 14%;">
    							<input type="text" name="goodsFile.goods_specifications" id="goods_specifications"  class="easyui-textbox"  value="$!{goodsFile.goods_specifications}" style="width:100px;" reg="Require" tip="请填写规格"/>
    						</td>
							<th style="width: 11%;"><span style="color: red;">*</span>品     牌：</th>
    						<td style="width: 14%;">
								<input id="goods_brand_id" name="goodsFile.goods_brand.id" style="width:100px;" value="$!{goodsFile.goods_brand.id}"/>
    						</td>
    					</tr>
					</table>
    				<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width:11%;"><span style="color: red;">*</span>品名：</th>
    						<td style="width:39%;">
    							<input type="text" id="goods_name" name="goodsFile.goods_name" class="easyui-textbox" style="width:287px" value="$!{goodsFile.goods_name}" reg="Require" tip="请填写品名"/>
    						</td>
							<th style="width: 11%;"><span style="color: red;">*</span>单   位：</th>
    						<td style="width: 14%;">
    							<input type="text" id="goods_unit" name="goodsFile.goods_unit" class="easyui-textbox" style="width:100px;" value="$!{goodsFile.goods_unit}" reg="Require" tip="请填写单位"/>
    						</td>
    						<th style="width: 11%;">经营方式：</th>
    						<td style="width: 14%;">
    							<input id="provider_practice" name="goodsFile.providerInfo.provider_practice" class="easyui-textbox" style="width:100px;" value="$!{goodsFile.provider.practice}" disabled="true" />
    						</td>
    					</tr>
    				</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width:11%;"><span style="color: red;">*</span>供应商：</th>
    						<td style="width:14%;">
								<input id="goods_supplier_id" name="goodsFile.provider.id" value="$!{goodsFile.provider.id}"/>
                                ##<a href="javascript:void(0);" id="providerJmp" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="openAddProvider('选择供应商',700,500)"></a>
    						</td>
							<th style="width:11%;"><span style="color: red;">*</span>工位属性：</th>
    						<td style="width:14%;">
								<input id="zcUserInfo" name="goodsFile.zcUserInfo" value="$!{goodsFile.zcUserInfo}" type="text"/>
							</td>
							<th style="width:11%;">产 地：</th>
    						<td style="width:14%;">
    							<input type="text" id="goods_origin" name="goodsFile.goods_origin" class="easyui-textbox" style="width:100px;" value="$!{goodsFile.goods_origin}"/>
    						</td>
							<th style="width: 11%;"><span style="color: red;">*</span>商品状态：</th>
    						<td style="width: 14%;">
    							##<input id="goods_state" name="goodsFile.goods_state" type="text" style="width:100px;" value="$!{goodsFile.goods_state}" class="easyui-textbox" reg="Require" tip="请填写单位"/>
								<select id="goods_state" name="goodsFile.goods_state" style="width:100px" value="$!{goodsFile.goods_state}" editable="false">
									<option value="true">上架</option>
									<option value="false">下架</option>
								</select>
							</td>
    					</tr>
    				</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width:11%;"><span style="color: red;">*</span>商品属性：</th>
    						<td style="width:14%;">
								<input id="productGoodsId" name="goodsFile.productGoodsId" value="$!{goodsFile.productGoodsId}" type="hidden"/>
								<select name="goodsFile.goodsAttribute" id="goodsAttribute" onchange="chooseProduct()" style="width:130px" reg="Require" tip="请选择商品属性">
								</select>
							</td>
							<th style="width:11%;"><span style="color: red;">*</span>截单类型：</th>
    						<td style="width:14%;">
								<input id="goodsType" name="goodsFile.goodsType.id" value="$!{goodsFile.goodsType.id}" type="text"/>
							</td>
							<th style="width:11%;"><span style="color: red;">*</span>损耗率：</th>
    						<td style="width:14%;">
    							<input type="text" id="wasteRate" name="goodsFile.wasteRate" value="$!{goodsFile.wasteRate}" class="easyui-textbox" style="width:90px"/>%
    						</td>
							<th style="width:11%;"></th>
    						<td style="width:14%;">
							</td>
    					</tr>
    				</table>
					<table border="0" cellpadding="0" cellspacing="0">
						<tr style="font-size:150%"><strong>价格属性</strong></tr>
    					<tr>
    						<th style="width: 10%;"><span style="color: red;">*</span>进 价：</th>
    						<td style="width: 10%;">
    							<input type="text" id="goods_purchase_price" readonly name="goodsFile.goods_purchase_price" class="easyui-numberbox" precision="2" style="width:70px;" value="$!{goodsFile.goods_purchase_price}" reg="Require" tip="请填写进价"/>
    						</td>
    						<th style="width: 10%;"><span style="color: red;">*</span>零售价：</th>
    						<td style="width: 10%;">
    							<input type="text" id="goods_price" precision="2" readonly name="goodsFile.goods_price" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.goods_price}" reg="Require" tip="请填写零售价"/>
    						</td>
							<th style="width: 10%;"></span>最低售价：</th>
    						<td style="width: 10%;">
    							<input type="text" id="lowest_price" precision="2" readonly name="goodsFile.lowest_price" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.lowest_price}"/>
    						</td>
							<th style="width: 10%;"></span>批发价：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price" precision="2" readonly name="goodsFile.wholesale_price" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price}"/>
    						</td>
							<th style="width: 10%;"></span>配送价：</th>
    						<td style="width: 10%;">
    							<input type="text" id="distribution_price" precision="2" readonly name="goodsFile.distribution_price" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.distribution_price}"/>
    						</td>
    					</tr>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width: 10%;"></span>会员价1：</th>
    						<td style="width: 10%;">
    							<input type="text" id="member_price" precision="2" readonly name="goodsFile.member_price" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.member_price}"/>
    						</td>
    						<th style="width: 10%;"></span>会员价2：</th>
    						<td style="width: 10%;">
    							<input type="text" id="member_price2" precision="2" readonly name="goodsFile.member_price2" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.member_price2}"/>
    						</td>
							<th style="width: 10%;"></span>会员价3：</th>
    						<td style="width: 10%;">
    							<input type="text" id="member_price3" precision="2" readonly name="goodsFile.member_price3" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.member_price3}"/>
    						</td>
							<th style="width: 10%;"></span>会员价4：</th>
    						<td style="width: 10%;">
    							<input type="text" id="member_price4" precision="2" readonly name="goodsFile.member_price4" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.member_price4}"/>
    						</td>
							<th style="width: 10%;"></span>会员价5：</th>
    						<td style="width: 10%;">
    							<input type="text" id="member_price5" precision="2" readonly name="goodsFile.member_price5" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.member_price5}"/>
    						</td>
    					</tr>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width: 10%;"></span>批发价2：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price2" precision="2" readonly name="goodsFile.wholesale_price2" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price2}"/>
    						</td>
    						<th style="width: 10%;"></span>批发价3：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price3" precision="2" readonly name="goodsFile.wholesale_price3" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price3}"/>
    						</td>
							<th style="width: 10%;"></span>批发价4：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price4" precision="2" readonly name="goodsFile.wholesale_price4" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price4}"/>
    						</td>
							<th style="width: 10%;"></span>批发价5：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price5" precision="2" readonly name="goodsFile.wholesale_price5" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price5}"/>
    						</td>
							<th style="width: 10%;"></span>批发价6：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price6" precision="2" readonly name="goodsFile.wholesale_price6" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price6}"/>
    						</td>
    					</tr>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width: 10%;"></span>批发价7：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price7" precision="2" readonly name="goodsFile.wholesale_price7" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price7}"/>
    						</td>
    						<th style="width: 10%;"></span>批发价8：</th>
    						<td style="width: 10%;">
    							<input type="text" id="wholesale_price8" precision="2" readonly name="goodsFile.wholesale_price8" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.wholesale_price8}"/>
    						</td>
							<th style="width: 10%;"></span>积分否：</th>
    						<td style="width: 10%;">
    							<input type="text" id="point_or_not" name="goodsFile.point_or_not" class="easyui-textbox" style="width:70px;" value="$!{goodsFile.point_or_not}"/>
    						</td>
							<th style="width: 10%;"></span>积分值：</th>
    						<td style="width: 10%;">
    							<input type="text" id="points_value" precision="2" readonly name="goodsFile.points_value" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.points_value}"/>
    						</td>
							<th style="width: 10%;"></span>联营扣率：</th>
    						<td style="width: 10%;">
    							<input type="text" id="joint_rate" precision="2" readonly name="goodsFile.joint_rate" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.joint_rate}"/>
    						</td>
    					</tr>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width:10%;"></span>进项税：</th>
    						<td style="width: 10%;">
    							<input type="text" id="input_tax" precision="2" readonly name="goodsFile.input_tax" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.input_tax}"/>
    						</td>
    						<th style="width: 10%;"></span>销项税：</th>
    						<td style="width: 10%;">
    							<input type="text" id="out_tax" precision="2" readonly name="goodsFile.out_tax" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.out_tax}"/>
    						</td>
							<th style="width: 10%;"></span>毛利率：</th>
    						<td style="width: 10%;">
    							<input type="text" id="gross_margin" precision="2" readonly name="goodsFile.gross_margin" class="easyui-numberbox" style="width:70px;" value="$!{goodsFile.gross_margin}"/>
    						</td>
							<th style="width: 10%;"></span style="width:60px;"></th>
    						<td style="width: 10%;">
    							<input type="hidden" id="" name="" class="hide" style="width:70px;" />
    						</td>
							<th style="width: 10%;"></span style="width:60px;"></th>
    						<td style="width: 10%;">
    							<input type="hidden" id="" name="" class="hide" style="width:70px;" />
    						</td>
    					</tr>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
						<tr style="font-size:150%"><strong>其他属性</strong></tr>
    					<tr>
    						<th style="width:13%;"></span>进价规格：</th>
    						<td style="width:12%;">
    							<input type="text" id="purchase_specifications" name="goodsFile.purchase_specifications" class="easyui-textbox" style="width:80px;" value="$!{goodsFile.purchase_specifications}"/>
    						</td>
    						<th style="width:13%;"></span>商品类型：</th>
    						<td style="width:12%;">
    							<input type="text" id="goods_type" name="goodsFile.goods_type" class="easyui-textbox" style="width:80px;" value="$!{goodsFile.goods_type}"/>
    						</td>
							<th style="width:13%;"></span>库存管理：</th>
    						<td style="width:12%;">
    							<input type="text" id="management_inventory" name="goodsFile.management_inventory" class="easyui-textbox" style="width:80px;" value="$!{goodsFile.management_inventory}"/>
    						</td>
							<th style="width:13%;"></span>采购状态：</th>
    						<td style="width:12%;">
    							<input type="text" id="procurement_status" name="goodsFile.procurement_status" class="easyui-textbox" style="width:80px;" value="$!{goodsFile.procurement_status}"/>
    						</td>
    					</tr>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
							
							<th style="width: 13%;"></span>商品属性：</th>
    						<td style="width: 12%;">
    							<input type="text" id="goods_property" name="goodsFile.goods_property" class="easyui-textbox" style="width:80px;" value="$!{goodsFile.goods_property}"/>
    						</td>
    						<th style="width:13%;"></span align="left">有效期：</th>
    						<td style="width:12%;">
    							<input type="text" id="validity_period" name="goodsFile.validity_period" class="easyui-numberbox" style="width:80px;" value="$!{goodsFile.validity_period}"/>
    						</td>
							<th style="width:13%;"></span align="left">一级预警天数：</th>
    						<td style="width:12%;">
    							<input type="text" id="early_warning_days" name="goodsFile.early_warning_days" class="easyui-numberbox" style="width:80px;" value="$!{goodsFile.early_warning_days}"/>
    						</td>
							<th style="width:13%;"></span align="left">二级预警天数：</th>
    						<td style="width:12%;">
    							<input type="text" id="early_warning_days2" name="goodsFile.early_warning_days2" class="easyui-numberbox" style="width:80px;" value="$!{goodsFile.early_warning_days2}"/>
    						</td>
    					</tr>
					</table>
					<table border="0" cellpadding="0" cellspacing="0">
    					<tr>
    						<th style="width:13%;"></span>商品备注：</th>
    						<td style="width:62%;">
    							<input type="text" id="remark" name="goodsFile.remark" class="easyui-textbox" style="width:455px" value="$!{goodsFile.remark}"/>
    						</td>
							<th style="width: 13%;"></span>计价方式：</th>
    						<td style="width: 12%;">
    							<input type="text" id="valuation_method" name="goodsFile.valuation_method" class="easyui-textbox"style="width:80px;" value="$!{goodsFile.valuation_method}"/>
    						</td>
							#*<th style="width: 13%;"></span style="width:60px;"></th>
    						<td style="width: 12%;">
    							<input type="text" id="valuation_method" name="goodsFile.valuation_method" class="hide"style="width:80px;"/>
    						</td>*#
    					</tr>
    				</table>
    			</div>
				<div class="box_03">
           			<div class="box_inner_03">
           				<div class="btn_area_setl btn_area_bg">
           					<a href="#" onclick="editBaseInfo('baseForm')" class="easyui-linkbutton" style="width:80px;">修改</a>
       						<a href="#" onclick="window.parent.closeWinForm();" class="easyui-linkbutton" style="width:80px;">取消</a>
           				</div>
           			</div>
       			</div>
        	</form>
    	</div>
    </div>
    </div>
</body>
<div id="selectOptions" class="easyui-window" style="width:550px;height:400px;">
</div>
<script type="text/javascript" src="${rc.contextPath}/resources/js/basic/goods_file/goods_file.js"></script>
<script type="text/javascript">
$(function(){ 	
	initParentTree();
	$('#selectOptions').window('close');
	initSelectCode('GoodsAttribute','goodsAttribute');
	viewSelectCode('GoodsAttribute','$!{goodsFile.goodsAttribute}');
	$("#goodsAttribute option[value='$!{goodsFile.goodsAttribute}']").attr("selected", true);
	
	$('#goods_supplier_id').combobox({
		method:'POST',
        url:'${rc.contextPath}/provider/poviderinfo/listJson',
        valueField:'ID',
        textField:'PROVIDER_NICKNAME',
		onSelect: function(rec){   
           $('#provider_practice').textbox('setValue',rec.PROVIDER_PRACTICE)
        }
	});
	
	$('#goods_brand_id').combobox({
		method:'POST',
        url:'${rc.contextPath}/commodityClassify/selectListJson?type='+2,
        valueField:'ID',
        textField:'CLASSIFY_NAME'
	});
	
	$('#zcUserInfo').combobox({
		method:'POST',
        url:'${rc.contextPath}/userInfo/listWorkStation',
        valueField:'ID',
        textField:'WORKNAME'
	});
	$('#goodsType').combobox({
		method:'POST',
        url:'${rc.contextPath}/goodsFile/goodsType/listJson',
        valueField:'ID',
        textField:'TYPENAME'
	});
});
</script>
</html>