<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>

<div style="overflow: auto">
    <div id="tb" class="">
    	<form class="" id="" method="post">
    		<div class="cell">
    			<table border="0" cellpadding="0" cellspacing="0">
    	           <tr>
    	           	 <th width="10%">模块名称：</th>
    	             <td width="15%">
						<input  id="moduleName" name="module.name" type="text" class="easyui-textbox"  style="width:80%;"/>
					 </td>
    	             <td width="">
    					<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-new-search'" onclick="searchData()" style="width:80px">搜索</a>
    	             </td>
    	           </tr>
    	       	</table>
    		</div>
    	</form>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="add('${rc.contextPath}/module/detail','新增模块',500,330)" plain="true">新增模块</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-edit" onclick="edit('编辑模块',500,330)" plain="true">编辑</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-new-delete" onclick="destroyInfo()" plain="true">删除</a>
    </div>
    <table id="dg" width="100%"></table>
</div>

</body>
<script type="text/javascript" src="${rc.contextPath}/resources/js/system/module.js"></script>
<script>
	$(function(){
	var winHeight = $(window).height();
	$('#dg').treegrid({
		title:'$!{title}', //标题 
		method:'post',
		iconCls:'icon-search', //图标
		singleSelect:true, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		cache: false,
		remoteSort: false,
		url:"${rc.contextPath}/module/list?time="+new Date(), //数据来源
		queryParams:{
			'module.name':$('#moduleName').val()
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:10,
		pageList:[10,15,20],
		columns:[[
			{field:'ck',checkbox:true,width:'2%',styler:function(value,rowData,rowIndex){
				return "height:35px;";
			}}, //显示复选框
			{field:'name',title:'菜单名称',width:'25%',align : 'center',sortable:true,"formatter":function(value,res){
				return res.MODULENAME;
			}},
			{field:'INDEXNUM',title:'菜单序号',width:'10%',align : 'center',sortable:true},
			{field:'ICON',title:'菜单图标',width:'30%',align : 'center',sortable:true},
			{field:'TARGET',title:'菜单链接',width:'30%',align : 'center',sortable:true}
			]],
		toolbar:'#tb',
		onLoadSuccess:function(){
			$('#dg').treegrid('clearSelections'); //一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		},
        idField: 'ID',
        treeField: 'name',
        onBeforeLoad: function(row,param){
            if (!row) {    // load top level rows
                param.id = 0;    // set id=0, indicate to load new page rows
            }
			
        }
	});
	
});

$(window).resize(function(){
    $('#dg').treegrid('resize',{
    	width:'100%'
    });
});

function searchData(){
	
	var queryParams = {
		'module.name':$('#moduleName').val()
	};
	$('#dg').treegrid('options').queryParams = queryParams;
	$("#dg").treegrid('load');
}
</script>
</html>