<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>众彩物流</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="CISDIOA"/>
    <meta name="author" content="CISDIOA"/>
    <!-- Import resource file -->
    #parse(${resource_path})
</head>
<body>
<div style="overflow: auto">
    <div id="tb" class="top_search">
    	<form class="searchForm" id="searchForm" method="post">
    		<div class="cell">
				<input type="hidden" name="checkNumberId" id="checkNumberId" value="$!{checkNumber.id}"/>
				<input type="hidden" name="zcWarehouse.id" id="zcWarehouseId" value="$!{zcWarehouse.id}"/>
				 <input type="hidden" id="pandianhao"></>
				 <input type="hidden" id="checkArea" value="$!{checkNumber.checkType}">
    			<table width="100%" style="table-layout: fixed;">
					<tr>
						<th style="width:11%">盘点单号：</th>
						<td style="width:22%" id="pandiandanhao">
							$!{zcWarehouse.warehouseNumber}
                        </td>
						<th style="width:11%">日期：</th>
						<td style="width:22%">
							$!{zcWarehouse.createTime}
                        </td>
						<th style="width:11%">盘点批号：</th>
						<td style="width:22%">
							$!{checkNumber.check_number}
                        </td>
					</tr>
					<tr>
						<th style="width:11%">盘点范围：</th>
						<td style="width:22%" id="checkType">
							
                        </td>
						<th style="width:11%">仓库：</th>
						<td style="width:22%;text-decoration:underline" id="orderStatus">
							$!{checkNumber.branch.branch_name}
                        </td>
						<th style="width:11%">品牌类别：</th>
						<td style="width:22%">
							$!{classifyName}
                        </td>
					</tr>
					<tr>
						<th style="width:11%">备注：</th>
						<td colspan="2">
							$!{checkNumber.remark}
                        </td>
						<th style="width:11%">原因：</th>
						<td colspan="2">
							$!{zcWarehouse.reason}
                        </td>
					</tr>
				</table>
			<table border="0" cellpadding="0" cellspacing="0">
    	           <tr>
					<td style="width:100%" align="left" >
    	           	 货号：
    	            <input id="serialNumber" name="goodsFile.serialNumber" type="text" class="easyui-textbox"/>
     	           	品名：
    	            <input id="goodsName" name="goodsFile.goods_name" type="text" class="easyui-textbox"/>
					<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-new-search" onclick="searches()">查询</a>
                    </td>
					</tr>
    	       	</table>
			   <tr>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-save" onclick="editCheckItem()" plain="true">保存并提交审核</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-add" onclick="openGoodsItem()" plain="true">添加盘点商品</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-delete" onclick="removeGoods()" plain="true">删除盘点商品</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-print" onclick="openBatch()" plain="true">导入</a>
					<a href="#" class="easyui-linkbutton" iconCls="icon-new-print" onclick="exportBatch()" plain="true">导出</a>
			   </tr>
    		</div>
        </form>
    </div>
    <table id="dg" width="100%"></table>
</div>
</body>
<div id="showWinBatch" class="easyui-window" style="width: 450px;height: 150px">
	<div>
		<form action="" name="myBatch" id="myBatch" method="post" enctype="multipart/form-data">
			<table  id="" >
			<tr id="fzdId">
				<th style="text-align: right;">请选择导入文件</th>
				<td  colspan="3">
					<input type="file" name="sourceBrocastBatch" id="sourceBrocastBatch" class="text_input" style="width: 270px;height: 22px"/>
				</td>
			</tr>
			</table>
			<div style="padding-top: 10px;text-align: center;">
				<a href="#" class="easyui-linkbutton" iconCls="icon-new-save" id="importBtn" onclick="batchImport('$!{zcWarehouse.id}')">导入</a>
			</div>
		</form>
	</div>
</div>
<div id="showexportBatch" class="easyui-window" style="width: 450px;height: 150px">
	<div>
		<form action="" name="myBatch1" id="myBatch1" method="post" enctype="multipart/form-data">
			<table  id="" >
			<tr id="fzdId">
				<th style="text-align: right;">点击导出按钮(导出文件为EXCEL文件)</th>
			</tr>
			</table>
			<div style="padding-top: 10px;text-align: center;">
				<a href="#" class="easyui-linkbutton" iconCls="icon-new-save" id="importBtn" onclick="exportExcel('$!{zcWarehouse.warehouseNumber}','$!{checkNumber.branch.branch_name}','$!{zcWarehouse.id}')">导出</a>
			</div>
		</form>
	</div>
</div>
<div id="selectOptions" class="easyui-window" style="width:880px;height:480px;">
</div>
<script type="text/javascript" src="${rc.contextPath}/resources/js/warehouse/warehouse.js/"></script>
<script type="text/javascript">
$(function(){ 	
	$('#selectOptions').window('close');
	$('#showWinBatch').window('close');
	$('#showexportBatch').window('close');
	
	document.onkeydown=function(evt){
		if(evt.keyCode ==13){
			return;
		}
	};
	var checkType=viewSelectCode('pandianArea',$!{checkNumber.checkType});
	$('#checkType').text(checkType);
	var winHeight = $(window).height();
	var lastIndex;
	$('#dg').datagrid({
		cache: false,
		idField: 'ID', 
		title:'商品列表', //标题
		method:'post',
		iconCls:'', //图标
		singleSelect:false, //多选
		height:winHeight, //高度
		fitColumns: true, //自动调整各列，用了这个属性，下面各列的宽度值就只是一个比例。
		striped: true, //奇偶行颜色不同
		remoteSort: false,
		url:"${rc.contextPath}/warehouse/wareHouse/listCheckGoodsItemsJson?time="+new Date(), //数据来源
		queryParams:{
			'goodsFile.serialNumber':$('#serialNumber').val(),
			'goodsFile.goods_name':$('#goodsName').val(),
			'houseId':'$!{checkNumber.branch.id}',
			'id':'$!{zcWarehouse.id}'
		}, //查询条件
		pagination:true, //显示分页
		rownumbers:true, //显示行号
		pageSize:200,
		pageList:[200,300,500],
		columns:[[
			{field:'ID',sortable:true,sortable:true,hidden:true},
			{field:'SERIALNUMBER',title:'货号',width:'12%'},
			{field:'GOODS_NAME',title:'商品名',width:'34%'},
			{field:'CLASSNAME',title:'类别',width:'7%'},
			{field:'BRANDNAME',title:'品牌',width:'7%'},
			{field:'GOODS_UNIT',title:'单位',width:'7%'},
			{field:'GOODS_SPECIFICATIONS',title:'规格',width:'8%',formatter:formatterGuige},
			{field:'STORE',title:'系统库存',width:'8%',align:'right',formatter:function(value,res){
				if(value=='' || value=='undefined' || value==null){
					return '0.00';
				}else{
					var number = new Number(value);
					var result = number.toFixed(2);
					return result;
				}
			}},
			{field:'GOODS_PRICE',title:'零售价',align:'right',width:'7%',formatter:formatterNumber},
			{field:'ACTUALCHECKNUMBER',title:'实际盘点数量',align:'right',width:'9%',formatter:formatterNumber,editor:{type:'numberbox',options:{precision:2}}}
		]],
		toolbar:'#tb',
		onLoadSuccess:function(data){
			for(var i = 0;i < data.rows.length;i++){
    			$('#dg').datagrid('beginEdit',i);
    		} ///一定要加上这一句，要不然datagrid会记住之前的选择状态，删除时会出问题
		}
	});
});

$(window).resize(function(){
    $('#dg').datagrid('resize',{
    	width:'100%'
    });
});
//批量导入
function openBatch(){
	document.myBatch.reset();
	$('#showWinBatch').window({  
		title:'批量导入',
   	closable: true,
		modal: false,
		draggable:false
});
	$("#showWinBatch").window('open');
}
//批量导出
function exportBatch(){
	document.myBatch1.reset();
	$('#showexportBatch').window({  
		title:'批量导出',
   	closable: true,
		modal: false,
		draggable:false
});
	$("#showexportBatch").window('open');
}
function searches(){
	var queryParams = {
	'goodsFile.serialNumber':$('#serialNumber').val(),
	'goodsFile.goods_name':$('#goodsName').val(),
	'houseId':'$!{checkNumber.branch.id}',
	'id':'$!{zcWarehouse.id}'
	};
	$('#dg').datagrid('options').queryParams = queryParams;
	$("#dg").datagrid('load');
}

</script>
</html>